google-generativeai
unidecode
keras
numpy
pandas
matplotlib
openai
openpyxl
langdetect
seaborn
PyPDF2
hdbscan
scikit-learn
umap-learn
python-pptx
ipywidgets
fastparquet
panel
jupyter_bokeh
spacy 
python-Levenshtein 
thefuzz 
jellyfish 
nltk 
transformers 
sentence-transformers 
sentiment-analysis-spanish 
stanza 
gliner
torch